* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
}

.container {
    border-radius: 10px;
    border: 5px solid #000;
    padding: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: linear-gradient(to bottom, #d3cce3, #e9e4f0); 
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 36px;
    font-family: "Cabin", sans-serif;
    font-optical-sizing: auto;
    font-weight: 549;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
    font-size: 48px;
}

.input {
    outline: none; /* Remove the default focus outline */
    border-bottom: 2px solid #111;
    width: 250px;
}

.input-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

#result {
    display: flex;
    justify-content: center;
    margin-top: 16px;
    font-size: 36px;
}

/* Footer styling */
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
}

.footer a {
    color: #113;
    text-decoration: none;
}

.footer i {
    font-size: 56px;
    color: #113;
}

/* Button "check" style */
button {
    background-color: green;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    transition: 0.3s ease;
}

button:hover {
    background-color: #00FF00;
}

/* Input styling */
.input {
    outline: none;
    border-bottom: 2px solid #111;
    width: 250px;
    padding-top: 10px;
    font-size: 24px;
    color: white;
    background: #333;
    transition: 0.3s ease;
}

.input:focus {
    border-bottom-color: #000;     /* Secondary color on focus */
    transition: 0.3s ease;
}

.input::placeholder {
    color: rgba(white, 0.5); /* Placeholder color */
}

/* Change Autocomplete styles*/
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border: none;
    -webkit-text-fill-color: #fff;
    -webkit-box-shadow: 0 0 0px 1000px #333 inset;
    transition: background-color 5000s ease-in-out 0s;
}

/* Media queries */

@media only screen and (max-width: 768px) {
    .footer i {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 25%;
        font-size: 124px;
    }
}

@media only screen and (max-width: 600px) {
    .body {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 425px;
        padding: 36px;
    }
    .input {
        width: 150px;
    }
    .header {
        font-size: 24px;
        line-height: 1.6;
        font-weight: 600;
    }

    .footer i {
        display: flex;
        justify-content: center;
        align-items: center;
        bottom: 25%;
        font-size: 124px;
    }
}



@media only screen and (max-width: 425px) {
    .container {
        width: 50%;
    }
    .footer i {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 50%;
        font-size: 124px;
    }
}

@media only screen and (max-width: 320px) {
    .container {
        width: 75%;
    }
    .input {
        width: 150px;
    }
    .input-btn {
        display: flex;
        flex-direction: column;
    }
}